:root {
	font-family: Inter, system-ui, Avenir, helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

img,
video,
svg {
	max-width: 100%;
	padding: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	border-radius: 8px;
	border: 2px solid transparent;
	padding: 0.6em 2.5em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: blue;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-reduced-action: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0, 01ms !important;
		scroll-behavior: auto !important;
		transition: none;
	}
}
